{% extends 'base.html.twig' %}

{% block title %}ForumPost index
{% endblock %}
{% block body %}
	{{ include('/_header.html.twig') }}

	{{ include('/_logout.html.twig') }}
	<h1>Forum index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Pseudo</th>
				<th>Picture</th>
				<th>Topic</th>
				<th>Content</th>
				<th>Status</th>
				<th>GithubLink</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for forum_post in forum_posts %}
				<tr>
					<td>{{ forum_post.id }}</td>
					<td>{{ forum_post.Pseudo }}</td>
					<td class="picturePost">
						<img src={{ forum_post.Picture}}>
					</td>
					<td>{{ forum_post.Topic }}</td>
					<td>{{ forum_post.Content }}</td>
					<td>{{ forum_post.Status ? 'Yes' : 'No' }}</td>
					<td>{{ forum_post.GithubLink }}</td>
					<td>
						<a href="{{ path('app_forum_post_show', {'id': forum_post.id}) }}">show</a>
						<a href="{{ path('app_forum_post_edit', {'id': forum_post.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_forum_post_new') }}">Create new</a>
{% endblock %}
