{% extends 'base.html.twig' %}

{% block title %}ForumPost
{% endblock %}

{% block body %}
	<h1>Post</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ forum_post.id }}</td>
			</tr>
			<tr>
				<th>Pseudo</th>
				<td>{{ forum_post.Pseudo }}</td>
			</tr>
			<tr>
				<th>Picture</th>
				<td class="picturePost">
					<img src={{ forum_post.Picture}}>
				</td>
			</tr>
			<tr>
				<th>Topic</th>
				<td>{{ forum_post.Topic }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ forum_post.Content }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ forum_post.Status ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>GithubLink</th>
				<td>{{ forum_post.GithubLink }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_forum_post_index') }}">back to list</a>

	<a href="{{ path('app_forum_post_edit', {'id': forum_post.id}) }}">edit</a>

	{{ include('forum_post/_delete_form.html.twig') }}
{% endblock %}
